* {
  box-sizing: border-box;
}

/* Color Variables*/ /* Color Palet: https://coolors.co/17301c-379392-c0e8f9-4c9f70-496f5d */
:root {
  --nav-background-color: #3c9f70;
  --nav-aHover-color: #496f5d;
  --hero-font-color: white;
  --footer-background-color: #379392;
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

/*Navbar */

header {
  background-color: var(--nav-background-color);
}

.navbar {
  padding: 2.5px 0 5px 0;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-background-color);
  color: white;
  width: 80%;
  margin: 0 10% 0 10%;
}

.brand-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0.5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0.5rem;
}

.navbar-links li:hover {
  background-color: var(--nav-aHover-color);
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* Hero Section */
.img-container {
  background-image: url(../images/pexels-photo-577696.jpeg); /* By Lukas Kloeppel: https://www.pexels.com/photo/asphalt-clouds-curve-daylight-577696/ */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.inner-container {
  text-align: center;
  display: block;
  position: relative;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hero-font-color);
}

h2 {
  margin-top: 17px;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 400;
  color: var(--hero-font-color);
}

a {
  margin-top: 20px;
  font-size: 1.5rem;
}

.hero-btn {
  display: inline-block;
  width: 200px;
  font-weight: bold;
  padding: 10px;
  color: var(--hero-font-color);
  border: 4px solid var(--hero-font-color);
  text-align: center;
  text-decoration: none;
}

/* About Section */
.aboutSection {
  margin-bottom: 150px;
}

.aboutImageSec {
  margin-top: 15vh;
}

.aboutImage {
  width: 350px;
  transform: rotate(90deg);
  height: auto;
}

.about h3 {
  text-align: center;
  margin-top: 15vh;
}

.about p {
  margin-top: 5vh;
  text-align: center;
}

/*Projects Section */
.projectSection h4 {
  text-align: center;
}

/* Card pytotype  -----------------------------------------------------------------------*/
.projectShowCase {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 5vh 0 5vh 0;
  padding: 25px 0 25px 0;
  flex-wrap: wrap;
}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "source";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  margin: 30px;
  transition: 0.5s ease;
}

.card-image {
  grid-area: image;
  background: url("/images/1381790986619.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-text {
  grid-area: text;
  margin: 25px;
}

.card-text p {
  color: black;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 15px;
}

.card-text h6 {
  margin-top: 0px;
  font-size: 1.4rem;
}

.cardSource {
  grid-area: source;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #4c9f70;
}

.cardSource .source a {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-decoration: none;
}

.cardSource .border {
  border-right: 1px solid #496f5d;
}

.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

/*card2*/

/* Card protoype --------------------------------------------------------------------------- */

/* Footer Section */
footer {
  background-color: var(--footer-background-color);
  color: white;
  margin-top: 5vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-align: center;
}

footer h4 {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

footer p {
  margin: 10px 0 10px 0;
  font-size: 1.3rem;
}

footer a i {
  color: white;
  font-size: 2.5rem;
  margin: 5px 3px 5px 3px;
}

/* -----------------------------------------------------------------------------------------------------------*/
/*Media Queries */

/* Mobile  */

/* Mobile Nav */
@media (max-width: 599px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 2.5px 0 5px 0;
  }

  .toggle-button {
    display: flex;
    margin: 0.25rem;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.container {
  width: 80%;
  margin: 0 10% 0 10%;
}

/* About Section */
.aboutImageSec {
  text-align: center;
}

.aboutImage {
  text-align: center;
  position: relative;
  transform: translate(-50%, -50%);
  transform: rotate(90deg);
  width: 100%;
}

.about h3 {
  font-size: 2rem;
}

.about p {
  line-height: 1.2rem;
  font-size: 1.1rem;
}

/* -----------------------------------------------------------------------------------------------------------*/
/* Tablet */
@media screen and (min-width: 600px) {
  /* About Section */
  .aboutSection {
    display: flex;
    flex-wrap: wrap;
  }

  .aboutImageSec {
    flex: 1;
    margin-top: 15vh;
  }

  .about {
    flex: 1;
  }

  .about h3 {
    margin-top: 15vh;
    font-size: 2.2rem;
  }

  .about p {
    margin-top: 5vh;
    font-size: 1.2rem;
  }
}
/* -----------------------------------------------------------------------------------------------------------*/
/* Laptop  */
@media screen and (min-width: 900px) {
}
/* -----------------------------------------------------------------------------------------------------------*/
/* Desktop Nav */
@media screen and (min-width: 1200px) {
}
/* -----------------------------------------------------------------------------------------------------------*/
/* Large Screen */
@media screen and (min-width: 1600px) {
  /* About Section */
  .aboutImage {
    width: 550px;
    transform: rotate(90deg);
    height: auto;
  }

  .about p {
    font-size: 1.4rem;
  }
}

/* -----------------------------------------------------------------------------------------------------------*/
/* Nasa Screen*/
@media screen and (min-width: 2000px) {
}
