* {
  box-sizing: border-box;
}

/* Color Variables*/ /* Color Palet: https://coolors.co/17301c-379392-c0e8f9-4c9f70-496f5d */
:root {
  --nav-background-color: #3c9f70;
  --nav-aHover-color: #496f5d;
  --hero-font-color: white;
  --card-button-color: #3c9f70;
  --card-button-font-color: white;
  --footer-background-color: #379392;
}

/* General*/

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

/*General Fonts */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

.centerText {
  text-align: center;
}

/*Navbar */

header {
  background-color: var(--nav-background-color);
}

.navbar {
  padding: 2.5px 0 5px 0;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-background-color);
  color: white;
  width: 80%;
  margin: 0 10% 0 10%;
}

.brand-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0.5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0.5rem;
}

.navbar-links li:hover {
  background-color: var(--nav-aHover-color);
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* Hero Section */
.img-container {
  background-image: url(../images/pexels-photo-577696.jpeg); /* By Lukas Kloeppel: https://www.pexels.com/photo/asphalt-clouds-curve-daylight-577696/ */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.inner-container {
  text-align: center;
  display: block;
  position: relative;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#heroTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hero-font-color);
}

#heroSubTitle {
  margin-top: 17px;
  text-align: center;
  font-weight: 400;
  color: var(--hero-font-color);
}

a {
  margin-top: 20px;
  font-size: 1.5rem;
}

.hero-btn {
  display: inline-block;
  width: 200px;
  font-weight: bold;
  padding: 10px;
  color: var(--hero-font-color);
  border: 4px solid var(--hero-font-color);
  text-align: center;
  text-decoration: none;
}

/* About Section */
.aboutSection {
  margin-top: 10vh;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.aboutImageSec {
  flex: 1;
  flex-grow: 1;
  align-items: center;
  min-width: 325px;
}

.aboutImage {
  border-radius: 18px;
  text-align: center;
  width: 100%;
}

.about {
  flex: 1;
  flex-grow: 2;
  min-width: 300px;
  max-width: 675px;
  align-items: center;
}

#aboutHeading {
  margin-top: 15vh;
}

.about p {
  margin-top: 5vh;
  text-align: center;
  text-indent: 25px;
}

/*Projects Section */
#projectsHeading {
  text-align: center;
}

/* Card pytotype  -----------------------------------------------------------------------*/
.projectShowCase {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 5vh 0 5vh 0;
  padding: 25px 0 25px 0;
  flex-wrap: wrap;
}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "source";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  margin: 30px;
  transition: 0.5s ease;
}

.card-image-style {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-position: center;
}

.card-text {
  grid-area: text;
  margin: 25px;
}

.card-text p {
  color: black;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 15px;
}

.cardSource {
  grid-area: source;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: var(--card-button-color);
}

.cardSource .source a {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--card-button-font-color);
  text-decoration: none;
}

.cardSource .border {
  border-right: 1px solid #496f5d;
}

.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.card-image1 {
  background: url("/images/1381790986619.jpg");
  background-size: cover;
}

.card-image2 {
  background: url("/images/todolist.jpg");
  background-size: cover;
}

.card-image3 {
  grid-area: image;
  background: url("/images/responsiveBookPage.jpg");
  background-size: cover;
}

/* Card protoype --------------------------------------------------------------------------- */

/* Skills Section*/
.skillsSection {
  text-align: center;
  margin-bottom: 50px;
}

.skill-card {
  margin-top: 25px;
}

.skill-card h4 {
  margin-bottom: 10px;
}

.skill-card li {
  margin-top: 10px;
}

/* Formal Education Section */
.educationSection {
  text-align: center;
  margin-bottom: 25px;
}

.education-card {
  background-color: var(--card-button-color);
  padding: 2rem 1rem;
  border-radius: 15px;
  color: var(--card-button-font-color);
}

.education-card li {
  margin-top: 25px;
}

/* Certifications Section */
.certificationSection {
  text-align: center;
  margin-top: 50px;
}

/* Thinking about adding color borders */
.certification-card {
  background-color: var(--card-button-color);
  padding: 2rem 1rem;
  border-radius: 15px;
  color: var(--card-button-font-color);
}

.certification-card li {
  margin-top: 25px;
}

.certProjects {
  text-decoration: none;
  color: var(--card-button-font-color);
}

/* Resume Section */
.resumeBtnSection {
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
}

.resumeBtn-card a {
  text-decoration: none;
  color: var(--card-button-font-color);
}

.Resume-btn {
  display: block;
  background: var(--card-button-color);
  border-radius: 10px;
  padding: 15px;
  color: var(--card-button-font-color);
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 175px;
}

/* Footer Section */
footer {
  background-color: var(--footer-background-color);
  color: white;
  margin-top: 5vh;
  margin-bottom: 0;
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-align: center;
}

#footerHeading {
  color: white;
  margin-bottom: 10px;
}

footer p {
  margin: 10px 0 10px 0;
  font-size: 1.3rem;
}

footer a i {
  color: white;
  font-size: 2.5rem;
  margin: 5px 15px 5px 15px;
}

footer ul {
  margin-top: 5px;
}

footer ul a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

/* -----------------------------------------------------------------------------------------------------------*/
/*Media Queries */

/* Mini Mobile */
@media (max-width: 400px) {
}

/* Mini Mobile Projects Section*/
.card {
  grid-template-columns: 275px;
}

/* ------------------------------------------------------------------------------------------------------------*/

/* Mobile  */

/* Mobile Nav */
@media (max-width: 599px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 2.5px 0 5px 0;
  }

  .toggle-button {
    display: flex;
    margin: 0.25rem;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.container {
  width: 80%;
  margin: 0 10% 0% 10%;
}

/* About Section */
.aboutImageSec {
  text-align: center;
}

.about p {
  line-height: 1.8rem;
  font-size: 1.1rem;
}

/* Skills Section */

.skill-card li {
  font-size: 1rem;
}

/* Formal education */

.education-card li {
  font-size: 1.1rem;
}

/* Certification section */
.certification-card {
  font-size: 1.1rem;
}

.certProjects {
  font-size: 1.1rem;
}

/* -----------------------------------------------------------------------------------------------------------*/
/* Tablet */
@media screen and (min-width: 600px) {
  /* About Section */
  .aboutSection {
    display: flex;
    flex-wrap: wrap;
  }

  #aboutHeading {
    margin-top: 5vh;
  }

  .about p {
    margin-top: 5vh;
    font-size: 1.2rem;
  }

  /* Certification section */
  .certification-card h4 {
    font-size: 1.6rem;
  }
}
/* -----------------------------------------------------------------------------------------------------------*/
/* Laptop  */
@media screen and (min-width: 900px) {
  /* Font styles */
  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 2.7rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.7rem;
  }

  /* About Section */
  .about {
    margin-left: 15px;
  }
}
/* -----------------------------------------------------------------------------------------------------------*/
/* Desktop Nav */
@media screen and (min-width: 1200px) {
}
/* -----------------------------------------------------------------------------------------------------------*/
/* Large Screen */
@media screen and (min-width: 1600px) {
  /* About Section */
  .aboutImage {
    width: 550px;
    height: auto;
  }

  .about p {
    font-size: 1.4rem;
  }

  /* Formal Education section*/
  .educationSection > p,
  h4,
  li {
    color: black;
  }

  .education-card {
    color: black;
    background-color: white;
    margin-bottom: -25px;
  }

  /* Certification section */
  .certificationSection {
    margin-bottom: -50px;
  }

  .certificationSection > p,
  h4,
  li {
    color: black;
  }

  .certification-card {
    color: black;
    background-color: white;
  }

  .certification-card a {
    color: black;
  }
}

/* -----------------------------------------------------------------------------------------------------------*/
/* Nasa Screen*/
@media screen and (min-width: 2000px) {
  /*About Section */
  .about h3 p {
    margin: 0 20% 0 -20%;
  }
}

/* fccDesign PAGE ------------------------------------------------------------------------------------------------------------------------------------*/
.fccDesignAbout {
  margin: 25px 0 50px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#fccAboutSubTitle {
  margin-top: 15px;
}

.fccDesignAbout p {
  font-size: 1.4rem;
  line-height: 25px;
  margin-top: 5vh;
  text-indent: 50px;
  max-width: 1000px;
  margin-bottom: 5vh;
}

.fccDesignAbout a {
  color: black;
  font-size: 1.4rem;
  text-decoration: none;
}

.fccDesignAbout a:hover {
  background-color: var(--nav-aHover-color);
}

.card-image41 {
  background: url("/images/tributepage.jpg");
  background-size: cover;
}

.card-image42 {
  background: url("/images/surveyform.jpg");
  background-size: cover;
}

.card-image43 {
  background: url("/images/productLandingPage.jpg");
  background-size: cover;
}

.card-image44 {
  background: url("/images/techDocProject.jpg");
  background-size: cover;
}

.card-image45 {
  background: url("/images/personalPortPage.jpg");
  background-size: cover;
}
